.searchInput {
  width: 25rem;
  margin-right: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;

  input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-bottom: 3px solid var(--color-primary);
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.3s ease-in-out;
  
    &:focus {
      transform: scale(1.01);
      background-color: var(--color-primary-6);
    }  
  }
}
