form {
  width: 100%;

  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .formBtns {
      margin-left: 3rem;
    }
  }
}

.stock {
  width: 30rem;
  position: absolute;
  background-color: var(--color-secondary);
}