.alert {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 30vw;
  height: 20vh;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: var(--white);
  font-weight: 700;
}

.success {
  border: 2px solid var(--color-danger);
  border-bottom: 5rem solid var(--color-danger);
  color: var(--color-danger)
}

// .success {
//   border: 2px solid var(--color-success);
//   border-bottom: 5rem solid var(--color-success);
//   color: var(--color-success);
// }