.listWrapper {
  width: 100%;
  height: 73%;
  overflow: auto;
  margin-top: 2rem;
  border-top: 0.5rem solid var(--light-grey);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-3);
}

.detailsHeight {
  height: calc(100vh - (18.5rem + 6.08rem) );
}

.newProductHeight {
  height: calc(100vh - (18.5rem + 22.3rem) );
}
