@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

:root {
  --white: rgb(255, 255, 255);
  --light-grey: #ECEEF3;
  --warm-grey: rgb(140, 140, 142);
  --dark-grey: rgb(100, 100, 102);
  --color-primary: #4d5992;
  --color-primary-1: #6d779e;
  --color-primary-2: #8d95aa;
  --color-primary-3: #e8ecff;
  --color-primary-dark: rgb(25, 25, 35);
  --color-secondary: rgb(255, 193, 7);
  --color-secondary-dark: rgb(255, 160, 0);
  --color-danger: rgb(232, 0, 0);
  --color-danger-light: rgb(255, 211, 211);
  --color-success: rgb(0, 192, 0);

  --shadow-1: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, gba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  --shadow-2: inset rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, inset rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  --shadow-3: inset rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, inset rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

::-webkit-scrollbar {
  display: none;
}

// ///////////////////////////// Global Reset

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media (max-width: 768px) {
    font-size: 56.25%; // 1rem = 10px, 10px/16px = 56.25%
  }

  @media (max-width: 560) {
    font-size: 50%; // 1rem = 10px, 10px/16px = 50%
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: var(--light-grey);

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 560) {
    font-size: 1.4rem;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.2rem;

  @media (max-width: 768px) {
    font-size: 2rem;
  }

  @media (max-width: 560) {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.2rem;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 560) {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.2rem;

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }

  @media (max-width: 560) {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--light-grey);

  @media (max-width: 768px) {
    font-size: 1rem;
  }

  @media (max-width: 560) {
    font-size: 0.8rem;
  }
}

h5 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.2rem;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }

  @media (max-width: 560) {
    font-size: 0.6rem;
  }
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.2rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(1px);
  }


  &__default {
    background-color: var(--color-primary);
    color: var(--white);

    &:hover {
      background-color: var(--color-primary-1);
    }
  }

  &__primary {
    background-color: var(--color-primary);
    color: var(--white);

    &:hover {
      background-color: var(--color-primary-1);
    }
  }

  &__sucess {

  }

  &__warning {

  }

  &__danger {

  }
}

.active {
  background-color: var(--color-primary);
  color: var(--white) !important;
}

a {
  text-decoration: none;
  color: var(--dark-grey)
}
